google-genai==1.21.1
PySide6==6.9.1
numpy==2.3.0
sounddevice==0.5.2
soundfile==0.13.1
python-dotenv==1.1.1
pynput==1.8.1
pyobjc-core==11.1
pyobjc-framework-ApplicationServices==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-CoreText==11.1
pyobjc-framework-Quartz==11.1
